.Recipe {
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: #555;

}

.Recipe label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.RecipeName,
.Image {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Add {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}

.Recipe button:hover,
.Recipe button:active {
    color: white;
    background-color: #fa923f;
}

textarea {
    width: 100%;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px;
}

.Ingredient {
    width: 58.5%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px 10px;
}
